=begin
#WhatsApp chat API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module WatiClient
  class InboxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign User
    # @param email [String] User Email
    # @param whatsapp_number [String] WhatsApp Number with country code. Example, 85264318721
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_assign_operator_post(email, whatsapp_number, opts = {})
      v1_assign_operator_post_with_http_info(email, whatsapp_number, opts)
      nil
    end

    # Assign User
    # @param email [String] User Email
    # @param whatsapp_number [String] WhatsApp Number with country code. Example, 85264318721
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_assign_operator_post_with_http_info(email, whatsapp_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxApi.v1_assign_operator_post ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling InboxApi.v1_assign_operator_post"
      end
      # verify the required parameter 'whatsapp_number' is set
      if @api_client.config.client_side_validation && whatsapp_number.nil?
        fail ArgumentError, "Missing the required parameter 'whatsapp_number' when calling InboxApi.v1_assign_operator_post"
      end
      # resource path
      local_var_path = '/v1/assignOperator'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email
      query_params[:'whatsappNumber'] = whatsapp_number

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"InboxApi.v1_assign_operator_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxApi#v1_assign_operator_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
